{% extends 'layouts/base.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<span>City: </span><i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<span>Address: </span><i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<span>Phone: </span><i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<span>Website: </span><i class="fas fa-link"></i> {% if venue.website_link %}<a href="{{ venue.website }}" target="_blank">{{ venue.website_link }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<span>Facebook: </span><i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<a href="/venues/{{ venue.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
{% endblock %}



